.home-container {
  text-align: center;
  flex: 1; 

  margin: 2rem auto;
  
  max-width: 800px;
  padding: 3rem 2rem;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px; 
}

.home-title {
  font-size: 2rem; 
  color: var(--dark-color);
  margin-bottom: 1rem;
}

.home-subtitle {
  font-size: 1.1rem; 
  color: var(--secondary-color);
  line-height: 1.6;
}